<?xml version="1.0" encoding="utf-8"?>

<!--
  
  http://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>

  <connectionStrings>
    <add name="ahmedStoreRConnectionString1"
         connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\store.mdf;Integrated Security=True;user instance=true"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>


  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <!-- System.Web Settings -->
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST"
           type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           validate="false"/>
    </httpHandlers>

    <globalization culture="ar-EG" uiCulture="ar-EG"/>
    <httpRuntime maxRequestLength="1048576"/>
    <sessionState mode="InProc" timeout="540"/>
  </system.web>

  <!-- System.WebServer Settings -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>